/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway';
}

img {
  /* alineado vertical */
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
  cursor: pointer;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*Estilo para el cabezado */
header{
  background-color: #fff;
  font-weight: 700;
  padding: 15px 160px 15px 140px;
  position:fixed;
  top:0;
  width: 100%;
  z-index:1000;
}

.container-header figure{
  display: inline-block;
  left: 74%;
  position: relative;
    
}
.logo-header{
  width: 70px;
  
}
.container-header{
  background: #fff;
  top:0;
  width: 100%;
}

.box-header{
  display: inline-block;
  left: 10%; /* respecto al padre*/
  margin: 0;
  top: 25%;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  /*  */
  display:inline;
  /*  */
  list-style: none;
  margin: 0 20px;
}
/*Contenido */
section {
  text-align: center;
  width: 100%;
}
/*Estilos para la seccion principal*/
/* Establecemos imagen a cada seccion por medio de los selectores  de id #<nombre_id> */

#content-1{
  background-image: url(../assets/images/bg-home.jpg); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height: 500px;
  margin-top: 100px;
  width: 100%;


}
#content-1 div{
  padding: 60px 0 140px 0;
}
#content-1 h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 19px;
  margin-top: 19px;
}
#content-1 h1{
  font-size: 53px;
  margin-top: 44px;
}

#content-1 a{
 background-color: rgb(46, 204, 113);  
 /* border-radius: 3px; */
 color: white;
 font-size: 14px;
 margin-top: 50px;
 padding: 11px 20px;
}
#content-1 a:hover {
  color: #f17c72;
}

/* Estilos para la seccion de services */

#content-2 {
  color: #fff;
  background-color: #f17c72;
  padding: 70px 0;
  text-align: center;

}
#content-2-box-main h2 {
  font-size: 35px;
  margin-bottom: 29px;
  margin-top:29px;
}

#content-2-box-main h4 {
  /* font-size: 35px; */
  margin-bottom: 70px;
  margin-top:21px;
}

/* contenedor de imagen services */
img[alt="services"]{
  width: 50%;
  margin-bottom: 20px;
} 

#content-2 div div {
  display: inline-block;
  
  width: 30%;
}


/*Estilo para seccion work*/
#content-3{
  padding: 70px 0;
  font-weight: bold;
  text-align: center;
}
#content-3 h2{
  font-size: 35px;
  margin-bottom: 29px;
  margin-top:29px;
}

#content-3-box-project{
  width: 80%;
  margin: 50px auto;
}
/* contenedor de imagen word */
.content-img-work {

  width:120px;

}  
#content-3-box-project figure{
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 30%;
  margin-bottom: 65px;
}

#content-3-box-project figure figcaption{
  margin-top: 10px;
}
/* Calculamos el ancho de la imagenes por medio del selector por atributo*/

img[alt="hero"]{
  /* width: 100%; con respecto a su padre */
  margin-top: 60px;
  width: 80%;
}
img[alt="work"]{
  width: 85%;/* con respecto a su padre*/
}






/* Establecemos el color,el alto, el ancho y la posicion por medio de selector de clase .<nombre-clase> /footer-afuera sea estatico   */

.container-outer-footer{

  background: black;
  height: 50px;
  position:fixed;
  bottom: 0;

  width: 100%;
} 

footer{
  background: black;
  color:white;
  text-align: center;
  width: 100%;
  padding-top: 7px;
  height: 70px;
}
footer p{
  margin-top: 18px;
  margin-bottom: 18px;
}